<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="eliminarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-card color="white">
    <form [formGroup]="formulario">

      <ion-title color="medium">Imagen de perfil</ion-title>

      <ion-button fill="clear" fill="clear"><img src="assets\img\IMG.jpg" width="56" height="56"></ion-button>
      
      <ion-title color="medium">Nombre</ion-title>

      <ion-input
        type="text"
        formControlName="nombre"
        placeholder="Ingrese nombre"
        errorText="Error en el nombre"
      ></ion-input>

      <ion-title color="medium">Apellido</ion-title>

      <ion-input
        type="text"
        formControlName="apellido"
        placeholder="Ingrese apellido"
        errorText="Error en el apellido"
      ></ion-input>

      <ion-title color="medium">Email</ion-title>

      <ion-input
        type="email"
        formControlName="email"
        placeholder="Ingrese email"
        errorText="Error en el email"
      ></ion-input>

      <ion-button (click)="Enviar()">Guardar</ion-button>
      <ion-button (click)="Cerrar()">Cerrar sesión</ion-button>
    </form>
  </ion-card>
</ion-content>
