<ion-header>
  <ion-toolbar>
    <ion-title color="medium">Añadir nota</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="eliminarModal()"><p>Cerrar</p></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-card color="white">
    <form [formGroup]="formulario">
      <ion-input
        type="text"
        formControlName="nota"
        placeholder="Ingrese nota"
        errorText="Error en la nota"
      ></ion-input>

      <ion-button (click)="addDocument()">Añadir</ion-button>
    </form>
  </ion-card>
</ion-content>
